footer{
    display:flex;
    background-color: #008f8f;
    flex-direction: column;
}
p{
    color:#bfffff;
}
.highlight{
    color:#80ffff;
    text-decoration: underline;
}
div{
    margin:0 auto;
    width:80%;
}
.divider{
    height:2px;
    width:80%;
    margin:0 auto;
    background-color:#bfffff;
}