<div class="overlay" style="width:100%;">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <form>
       <!--   con = Container  for items in the form-->
       <div class="con">
       <!--     Start  header Content  -->
       <header class="head-form">
          <h2>Log In</h2>
          <!--     A welcome message or an explanation of the login form -->
          <p>login here using your username and password</p>
       </header>
       <!--     End  header Content  -->
       <br>
       <div class="field-set">
         
          <!--   user name -->
             <span class="input-item">
               <!-- <i class="fa fa-user-circle"></i> -->
               <fa-icon [icon]="faUserCircle" ></fa-icon>
             </span>
            <!--   user name Input-->
             <input class="form-input" id="txt-input" type="text" placeholder="@UserName" [(ngModel)]="uname"  name="uname" required>
         
          <br>
          <div *ngIf="uname_message">
            <span class="input-item" style="background-color: #ffe0e0;padding: 15px 0px 16px 9px;" >
               <!-- <i class="fa fa-user-circle"></i> -->
            </span>
            <div  class="form-input" id="txt-input"  style="width:265px;display:inline-block;background-color: #ffe0e0;color:#ff0000">{{uname_message}}</div>
            <br>
         </div>
         
               <!--   Password -->
         
          <span class="input-item">
            <!-- <i class="fa fa-key"></i> -->
            <fa-icon [icon]="faKey" ></fa-icon>
           </span>
          <!--   Password Input-->
          <input class="form-input" type="password" placeholder="Password" id="pwd"  [(ngModel)]="pw"  name="pw" required style="width:250px;">
         
    <!--      Show/hide password  -->
        
         <div *ngIf="password_message">
            <span class="input-item" style="background-color: #ffe0e0;padding: 15px 0px 16px 9px;" >
              <!-- <i class="fa fa-user-circle"></i> -->
            </span>
            <div  class="form-input" id="txt-input"  style="width:265px;display:inline-block;background-color: #ffe0e0;color:#ff0000;">{{password_message}}</div>
            <br>  
         </div>
         
          <br>
    <!--        buttons -->
    <!--      button LogIn -->
          <button class="log-in" (click)="login($event)"> Log In </button>
          <div *ngIf="backend_message">
            <div  class="form-input" id="txt-input" [ngClass]="backend_message_success?'msg-succ':'msg-err'"  style="width:280px;display:inline-block;border-radius:5px;">{{backend_message}}</div>
            <br>  
         </div>
       </div>
      
    <!--   other buttons -->
       <div class="other">
    <!--      Forgot Password button-->
          <p class="special btn submits frgt-pass" style="cursor:default;">Dont have account?</p>
    <!--     Sign Up button -->
          <button class="btn submits sign-up" (click)="relocateToRegister()">Sign Up 
    <!--         Sign Up font icon -->
          <!-- <i class="fa fa-user-plus" aria-hidden="true"></i> -->
          <fa-icon [icon]="faUserPlus" ></fa-icon>
          </button>
    <!--      End Other the Division -->
       </div>
         
    <!--   End Conrainer  -->
      </div>
      
      <!-- End Form -->
    </form>
    </div>